<%- model_class = Message -%>
<div class="page-header">
  <h1>Send Message to our Registered users</h1>
</div>
<%= render :partial => 'form' %>

To see a list of registered users <%= link_to 'Click here', users_path %>
